body {
    background-color: #222;
    font-family: 'Montserrat', monospace;
    color: #fff;
}

#game-board {
    background-color: #eee;
}

.game-board {
    position: relative;
}

.tile {
    border-color: #ddd;
    border-style: solid;
    position: absolute;
    box-sizing: border-box;
    border-bottom: 20px solid #333 !important;
}

.tile-floor {
    background-color: #444;
}

.tile-wall {
    border: none;
}

.tile-target {
    background-color: #ff6f91;
    border-bottom: 20px solid #9c5865 !important;
    transition: all ease 0.5s;
}

.tile-target.has-box {
    background-color: #91ff6f;
    border-bottom: 20px solid #5ec96c !important;
}



.player {
    border-radius: 50%;
    background-color: #eeeeee;
    z-index: 1;
    position: absolute;
    transition: all 0.2s ease;
    transform: scale(0.5);
    -webkit-box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

}

.box {
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    transition: all 0.2s ease;
    background-color: #55acee;
    box-sizing: border-box;
    transform: scale(0.7);
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.5);

    border-bottom: 10px #3b4856 solid;
    transition-delay: 0s, 0s, 0.1s, 0.1s;
    transition-property: left, top, transform, box-shadow;
}

.box.is-satisfied {
    transform: scale(0.6);
}

#buttons {
    display: flex;
    transition: width 0.1s ease;
}

.btn {
    border: none;
    padding: 10px;
    background-color: #222;
    font-size: larger;
    color: #eee;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
}


.btn:hover {
    background-color: #2a2a2a;
    color: #55acee;
}

#btn-next {
    width: 0;
    display: none;
}

#btn-next.visible {
    width: auto;
    display: flex;
}

#game-wrapper {
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    align-items: center;
}

.fish {
    padding: 5px;
    color: #55acee;
}

#satisfaction-counter {
    transition: all 0.5s ease;
    font-weight: bold;
    color: #aaa;
}

#satisfaction-counter.satisfied {
    color: #91ff6f;
}

.menu {
    margin-top: 10px;
}

.menu > .menu-buttons, .grid-buttons {
    border: 2px solid #eee;;
    border-radius: 5px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-buttons > button {
    display: flex;
    justify-content: between;
    width: 200px;
    padding: 12px;
}

.menu-buttons > button > .text {
    flex-grow: 1;
    text-align: center;
}


.easy {
    color: #55ee62;
}

.medium {
    color: #eed355;
}

.hard {
    color: #ee5555;
}

.grid-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-buttons > .btn {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.level-preview-wrapper {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
}
.level-preview {
    width: 200px;
    height: 200px;
    border: 2px solid #eee;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    background-color: #111;
}

#level-editor-menu, #level-selector-menu {
    display: flex;
    flex-direction: row;
}